[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/opt/ping-base64-webapi/ping-base64-webapi

[Install]
WantedBy=multi-user.target