[Unit]
Description=ping-base64-webapi
After=network.target

[Service]
Type=simple
User=appadmin
Restart=on-failure
RestartSec=5s
WorkingDirectory = /home/appadmin/go/bin
ExecStart=/home/appadmin/go/bin/ping-base64-webapi

[Install]
WantedBy=multi-user.target