[Unit]
Description=ping-base64-webapi
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
WorkingDirectory = /root/code/ping-base64-webapi
ExecStart=/root/code/ping-base64-webapi/ping-base64-webapi

[Install]
WantedBy=multi-user.target