[Unit]
Description=ping-base64-webapi
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
WorkingDirectory = /opt/ping-base64-webapi
ExecStart=/opt/ping-base64-webapi/ping-base64-webapi

[Install]
WantedBy=multi-user.target